In [2]:
import requests, json, time
import psycopg2 as p
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [35]:
start_time = time.time()

In [36]:
password = '******'

conn = p.connect(database = 'postgres', user = 'postgres', password = password, 
                       host = 'localhost', port = 5433)
cur = conn.cursor()

In [37]:
cur.execute("""select fs_fleet_id, company_name, mcmis_phy_address, mcmis_phy_city, mcmis_phy_state, mcmis_phy_zip, 
                mcmis_mai_address, mcmis_mai_city, mcmis_mai_state, mcmis_mai_zip, mcmis_tel_num, differences, uniform_mcmis_address 
                from fleetseek.updates_bn_coder_output limit 1000""")
rows = cur.fetchall()

# 3 Different calls based on the difference in the FS address and MCMIS addresses given

In [38]:
# 1
# Physical addresses and if both are different but the MCMIS address is the same then only needs to be sent through once

phy_add = []


with requests.Session() as s:
    
    for index, data in enumerate(rows):
        if data[11] == 'physical' or (data[11] == 'both' and data[12] == True):
            
            r = s.get("""https://businesscoder.melissadata.net/WEB/BusinessCoder/doBusinessCoderUS?id=*****&cols=GrpCensus,GrpGeoCode,GrpBusinessCodes, 
                    GrpAddressDetails,GrpBusinessDescription,Contacts&comp=""" + data[1] + """&a1="""+ data[2] + """&city=""" + data[3] + """&state=""" + data[4] + 
                    """&postal=""" + data[5] + """&phone=""" +str(data[10]))
            phy_info = r.json()

            phy_add.append([phy_info, {'index_number':index, 'difference':data[11], 'mcmis_address':data[12], 'fleet_id':data[0]}])
        else:
            continue

In [39]:
# 2
# Just mailing 

mai_add = []


with requests.Session() as s:
    
    for index, data in enumerate(rows):
        if data[11] == 'mailing':
            
            r = s.get("""https://businesscoder.melissadata.net/WEB/BusinessCoder/doBusinessCoderUS?id=*****&cols=GrpCensus,GrpGeoCode,GrpBusinessCodes, 
                    GrpAddressDetails,GrpBusinessDescription,Contacts&comp=""" + data[1] + """&a1="""+ data[6] + """&city=""" + data[7] + """&state=""" + data[8] + 
                    """&postal=""" + data[9] + """&phone=""" +str(data[10]))
            mai_info = r.json()

            mai_add.append([mai_info, {'index_number':index, 'difference':data[11], 'mcmis_address':data[12], 'fleet_id':data[0]}])
        else:
            continue

In [40]:
# 3
# Both and false, this one will need to be sent through twice to look at differences

combined_phy = []
combined_mai = []

with requests.Session() as s:
    
    for index, data in enumerate(rows):
    
        if data[11] == 'both' and data[12] == False:

            
            # Index 2 is for the physical address
            r = s.get("""https://businesscoder.melissadata.net/WEB/BusinessCoder/doBusinessCoderUS?id=F2xsYwygKO1EfNo3Ppd335**&cols=GrpCensus,GrpGeoCode,GrpBusinessCodes, 
                    GrpAddressDetails,GrpBusinessDescription,Contacts&comp=""" + data[1] + """&a1="""+ data[2] + """&city=""" + data[3] + """&state=""" + data[4] + 
                    """&postal=""" + data[5] + """&phone=""" +str(data[10]))
            phy_info = r.json()
            
            
            # Adds the index, the difference, and whether the mcmis addresses are uniform
            combined_phy.append([phy_info, {'index_number': index, 'difference':data[11], 'mcmis_address':data[12], 'fleet_id':data[0]}])


            # Index 3 is for mailing address
            t = s.get("""https://businesscoder.melissadata.net/WEB/BusinessCoder/doBusinessCoderUS?id=F2xsYwygKO1EfNo3Ppd335**&cols=GrpCensus,GrpGeoCode,GrpBusinessCodes, 
                    GrpAddressDetails,GrpBusinessDescription,Contacts&comp=""" + data[1] + """&a1="""+ data[6] + """&city=""" + data[7] + """&state=""" + data[8] + 
                    """&postal=""" + data[9] + """&phone=""" +str(data[10]))

            mai_info = t.json()
            
            # Adds the index, the difference, and whether the mcmis addresses are uniform
            combined_mai.append([mai_info, {'index_number': index, 'difference':data[11], 'mcmis_address':data[12], 'fleet_id':data[0]}])
        
        
        else:
            continue

# Reformatting all dataframes to have a uniform layout to insert into PostgreSQL

In [41]:
df1 = pd.DataFrame(columns = ['fs_fleet_id', 'index_number', 'address_difference', 'uniform_mcmis_address', 'company_name', 'phy_address', 'phy_city', 'phy_countyfips', 
                              'phy_countyname', 'phy_state','phy_latitude', 'phy_longitude', 'phy_zip_code', 'phy_suite', 'phy_result_codes', 'mai_address', 'mai_city', 
                              'mai_countyfips', 'mai_countyname', 'mai_state','mai_latitude', 'mai_longitude', 'mai_zip_code', 'mai_suite', 'mai_result_codes'])

for index, info in enumerate(phy_add):
    
    
    list_index = info[1]['index_number']
    difference = info[1]['difference']
    mcmis_addresses = info[1]['mcmis_address']
    fleet_id = info[1]['fleet_id']
    phy_city = info[0]['Records'][0]['City']
    company_name = info[0]['Records'][0]['CompanyName']
    a1 = info[0]['Records'][0]['AddressLine1']
    phy_state = info[0]['Records'][0]['State']
    phy_countyfips = info[0]['Records'][0]['CountyFIPS']
    phy_countyname = info[0]['Records'][0]['CountyName']
    phy_latitude = info[0]['Records'][0]['Latitude']
    phy_longitude = info[0]['Records'][0]['Longitude']
    phy_zip_code = info[0]['Records'][0]['PostalCode']
    phy_suite = info[0]['Records'][0]['Suite']
    phy_result_codes = info[0]['Records'][0]['Results']
    
    
    
    if difference == 'both' and mcmis_addresses == True:
        df1 = df1.append({'index_number':list_index, 'address_difference':difference, 'uniform_mcmis_address':mcmis_addresses, 'fs_fleet_id':fleet_id, 'company_name':company_name, 
                      'phy_city':phy_city, 'phy_countyfips':phy_countyfips, 'phy_countyname':phy_countyname, 'phy_latitude':phy_latitude, 'phy_longitude':phy_longitude, 
                      'phy_zip_code': phy_zip_code, 'phy_result_codes':phy_result_codes, 'mai_city':phy_city, 'mai_countyfips':phy_countyfips, 
                      'mai_countyname':phy_countyname, 'mai_latitude':phy_latitude, 'mai_longitude':phy_longitude, 'mai_zip_code': phy_zip_code, 'phy_address':a1, 
                      'phy_suite':phy_suite, 'mai_address':a1, 'mai_suite':phy_suite, 'mai_result_codes':phy_result_codes, 'phy_state':phy_state, 
                      'mai_state':phy_state}, ignore_index = True)
        
    else:
        df1 = df1.append({'index_number':list_index, 'address_difference':difference, 'uniform_mcmis_address':mcmis_addresses, 'fs_fleet_id':fleet_id, 'company_name':company_name, 
                          'phy_city':phy_city, 'phy_countyfips':phy_countyfips, 'phy_countyname':phy_countyname, 'phy_latitude':phy_latitude, 'phy_longitude':phy_longitude, 
                          'phy_zip_code': phy_zip_code, 'phy_result_codes':phy_result_codes, 'mai_city':np.nan, 'mai_countyfips':np.nan, 
                          'mai_countyname':np.nan, 'mai_latitude':np.nan, 'mai_longitude':np.nan, 'mai_zip_code': np.nan, 'phy_address':a1, 'phy_suite':phy_suite, 
                          'mai_address':np.nan, 'mai_suite':np.nan, 'mai_result_codes':np.nan, 'phy_state':phy_state, 'mai_state':np.nan}, ignore_index = True)

In [42]:

df2 = pd.DataFrame(columns = ['fs_fleet_id', 'index_number', 'address_difference', 'uniform_mcmis_address', 'company_name', 'phy_address', 'phy_city', 'phy_countyfips', 
                              'phy_countyname', 'phy_state', 'phy_latitude', 'phy_longitude', 'phy_zip_code', 'phy_suite', 'phy_result_codes', 'mai_address','mai_city', 
                              'mai_countyfips', 'mai_countyname', 'mai_state', 'mai_latitude', 'mai_longitude', 'mai_zip_code', 'mai_suite', 'mai_result_codes'])

for index, info in enumerate(mai_add):

    list_index = info[1]['index_number']
    difference = info[1]['difference']
    mcmis_address = info[1]['mcmis_address']
    fleet_id = info[1]['fleet_id']
    mai_city = info[0]['Records'][0]['City']
    company_name = info[0]['Records'][0]['CompanyName']
    a1 = info[0]['Records'][0]['AddressLine1']
    mai_state = info[0]['Records'][0]['State']
    mai_countyfips = info[0]['Records'][0]['CountyFIPS']
    mai_countyname = info[0]['Records'][0]['CountyName']
    mai_latitude = info[0]['Records'][0]['Latitude']
    mai_longitude = info[0]['Records'][0]['Longitude']
    mai_zip_code = info[0]['Records'][0]['PostalCode']
    mai_suite = info[0]['Records'][0]['Suite']
    mai_result_codes = info[0]['Records'][0]['Results']
    
    df2 = df2.append({'index_number':list_index, 'address_difference':difference, 'uniform_mcmis_address':mcmis_addresses, 'fs_fleet_id':fleet_id, 'company_name':company_name, 
                      'phy_city':np.nan, 'phy_countyfips':np.nan, 'phy_countyname':np.nan, 'phy_latitude':np.nan, 'phy_longitude':np.nan, 
                      'phy_zip_code': np.nan, 'phy_result_codes':np.nan, 'mai_city':mai_city, 'mai_countyfips':mai_countyfips, 'mai_address':a1,
                      'mai_countyname':mai_countyname, 'mai_latitude':mai_latitude, 'mai_longitude':mai_longitude, 'mai_zip_code': mai_zip_code, 'phy_address':np.nan, 
                      'mai_suite': mai_suite, 'phy_suite':np.nan, 'mai_result_codes':mai_result_codes, 'phy_state':np.nan, 'mai_state':mai_state}, ignore_index = True)

In [43]:
df3 = pd.DataFrame(columns = ['fs_fleet_id', 'index_number', 'address_difference', 'uniform_mcmis_address', 'company_name', 'phy_address', 'phy_city', 'phy_countyfips', 
                              'phy_countyname', 'phy_state', 'phy_latitude', 'phy_longitude', 'phy_zip_code', 'phy_suite', 'phy_result_codes', 'mai_address','mai_city', 
                              'mai_countyfips', 'mai_countyname', 'mai_state',  'mai_latitude', 'mai_longitude', 'mai_zip_code', 'mai_suite', 'mai_result_codes'])


# zip is used for lists of same length 
for info in zip(combined_phy, combined_mai):

    list_index = info[0][1]['index_number']
    difference = info[0][1]['difference']
    mcmis_addresses = info[0][1]['mcmis_address']
    fleet_id = info[0][1]['fleet_id']
    company_name = info[0][0]['Records'][0]['CompanyName']
    a1 = info[0][0]['Records'][0]['AddressLine1']
    phy_state = info[0][0]['Records'][0]['State']
    phy_city = info[0][0]['Records'][0]['City']
    phy_countyfips = info[0][0]['Records'][0]['CountyFIPS']
    phy_countyname = info[0][0]['Records'][0]['CountyName']
    phy_latitude = info[0][0]['Records'][0]['Latitude']
    phy_longitude = info[0][0]['Records'][0]['Longitude']
    phy_zip_code = info[0][0]['Records'][0]['PostalCode']
    phy_suite = info[0][0]['Records'][0]['Suite']
    phy_result_codes = info[0][0]['Records'][0]['Results']
    a2 = info[1][0]['Records'][0]['AddressLine1']
    mai_city = info[1][0]['Records'][0]['City']
    mai_state = info[1][0]['Records'][0]['State']
    mai_countyfips = info[1][0]['Records'][0]['CountyFIPS']
    mai_countyname = info[1][0]['Records'][0]['CountyName']
    mai_latitude = info[1][0]['Records'][0]['Latitude']
    mai_longitude = info[1][0]['Records'][0]['Longitude']
    mai_zip_code = info[1][0]['Records'][0]['PostalCode']
    mai_suite = info[1][0]['Records'][0]['Suite']
    mai_result_codes = info[1][0]['Records'][0]['Results']
    
    df3 = df3.append({'index_number':list_index, 'address_difference':difference, 'uniform_mcmis_address':mcmis_addresses, 'fs_fleet_id':fleet_id, 'company_name':company_name, 
                      'phy_city':phy_city, 'phy_countyfips':phy_countyfips, 'phy_countyname':phy_countyname, 'phy_latitude':phy_latitude, 'phy_longitude':phy_longitude, 
                      'phy_zip_code': phy_zip_code, 'phy_result_codes':phy_result_codes, 'mai_city':mai_city, 'mai_countyfips':mai_countyfips, 'phy_address':a1, 'phy_suite':phy_suite,
                      'mai_countyname':mai_countyname, 'mai_latitude':mai_latitude, 'mai_longitude':mai_longitude, 'mai_zip_code': mai_zip_code, 'mai_address':a2, 
                      'mai_suite':mai_suite,'mai_result_codes':mai_result_codes, 'phy_state':phy_state, 'mai_state':mai_state}, ignore_index = True)

In [44]:
df4 = pd.concat([df1, df2, df3])
df4.drop(columns = 'index_number', inplace = True)

In [45]:
df4['phy_countyfips'].replace('', value = np.nan, inplace = True)
df4['mai_countyfips'].replace('', value = np.nan, inplace = True)
df4['phy_latitude'].replace('', value = np.nan, inplace = True)
df4['phy_longitude'].replace('', value = np.nan, inplace = True)
df4['mai_latitude'].replace('', value = np.nan, inplace = True)
df4['mai_longitude'].replace('', value = np.nan, inplace = True)
df4['phy_address'].replace('', value = np.nan, inplace = True)
df4['phy_city'].replace('', value = np.nan, inplace = True)
df4['phy_countyname'].replace('', value = np.nan, inplace = True)
df4['mai_address'].replace('', value = np.nan, inplace = True)
df4['mai_city'].replace('', value = np.nan, inplace = True)
df4['mai_countyname'].replace('', value = np.nan, inplace = True)
df4['phy_suite'].replace('', value = np.nan, inplace = True)
df4['phy_zip_code'].replace('', value = np.nan, inplace = True)
df4['mai_suite'].replace('', value = np.nan, inplace = True)
df4['mai_zip_code'].replace('', value = np.nan, inplace = True)
df4['phy_state'].replace('', value = np.nan, inplace = True)
df4['mai_state'].replace('', value = np.nan, inplace = True)

In [46]:
df4.head()

,fs_fleet_id,address_difference,uniform_mcmis_address,company_name,phy_address,phy_city,phy_countyfips,phy_countyname,phy_state,phy_latitude,...,mai_address,mai_city,mai_countyfips,mai_countyname,mai_state,mai_latitude,mai_longitude,mai_zip_code,mai_suite,mai_result_codes
0,54740,both,True,Ozinga Bros Inc,19001 Old Lagrange Rd,Mokena,17197,Will,IL,41.545448,...,19001 Old Lagrange Rd,Mokena,17197,Will,IL,41.545448,-87.849912,60448-8013,Ste 300,"AS01,DA20,DA40,DA50,FS01,FS04,GS05"
1,875334,physical,False,Jose Guadalupe Ponce Pantoja,Villa De San Antonio 20088,Gore,NaN,NaN,VA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,16999,physical,False,GSC Wholesale LLC,15515 Woodham Dr,Houston,NaN,NaN,TX,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,913622,both,True,ECM Energy Services Inc.,460 Market St,Williamsport,42081,Lycoming,PA,41.243524,...,460 Market St,Williamsport,42081,Lycoming,PA,41.243524,-77.002439,17701-6324,Ste 400,"AS01,DA20,FE01,GS05"
4,799294,physical,False,Courier Express,1810 W Pointe Dr,Charlotte,37119,Mecklenburg,NC,35.257164,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
engine = create_engine("postgresql://{user}:{pw}@localhost:5433/{db}"
                      .format(user = 'postgres',
                             pw = '*****',
                             db = 'postgres'))

df4.to_sql('updates_bn_coder_input', con = engine, if_exists='append', schema='fleetseek', index=False, chunksize = 1000, method = 'multi')